@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 240px;
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.visually-hidden {
  opacity: 0;
  visibility: 0;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0px 20px;
  }
  .header {
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))),
      url(../images/rectangle3.jpg), center, no-repeat;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/rectangle3.jpg),
      center, no-repeat;
    background-size: cover;
  }
  .logo-link {
    margin-right: 112px;
  }
  .logo-link__text {
    display: none;
  }
  .search-form {
    margin-bottom: 48px;
  }
  .search {
    width: 280px;
    margin-bottom: 22px;
  }
  .btn-search {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))),
      url(../images/rectangle2.jpg), center, no-repeat;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/rectangle2.jpg),
      center, no-repeat;
    background-size: cover;
  }
  .cont-header {
    padding-top: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .logo-link {
    margin-right: 303px;
  }
  .logo-link img {
    margin-right: 10px;
  }
  .search-form {
    margin-bottom: 59px;
  }
  .search {
    width: 336px;
    margin-bottom: 22px;
  }
  .btn-search {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))),
      url(../images/rectangle1.jpg), center, no-repeat;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/rectangle1.jpg),
      center, no-repeat;
    background-size: cover;
  }
  .logo-link {
    margin-right: 565px;
  }
  .logo-link img {
    margin-right: 10px;
  }
  .search-form {
    margin-bottom: 59px;
  }
  .search {
    width: 336px;
    margin-bottom: 22px;
  }
  .btn-search {
    position: absolute;
    top: 0;
    right: 0px;
  }
}

.header-change {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))),
    url(../images/rectangle4.jpg), center, no-repeat;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/rectangle4.jpg), center,
    no-repeat;
  background-size: cover;
}

.cont-header {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}

.logo-link__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.nav {
  margin-bottom: 38px;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item__list {
  list-style: none;
}

.nav-item__list:not(:last-child) {
  margin-right: 39px;
}

.nav-item__list-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  height: 20px;
  color: #ffffff;
  margin-bottom: 3px;
}

.nav-item__list-btn:hover {
  color: #ff6b01;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-item__list--activ {
  position: relative;
}

.nav-item__list--activ::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #ff6b08;
  border-radius: 2px;
}

.search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search {
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  padding-bottom: 4px;
  color: #ffffff;
  outline: none;
}

.search::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.header-error__text {
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
}

.header-change__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.header-change__cont-btn {
  width: 128px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.header-change__cont-btn:not(:last-child) {
  margin-right: 20px;
}

.header-change__cont-btn--activ {
  background-color: #ff6b08;
  border: none;
}

.footer-container {
  padding-top: 29px;
  padding-bottom: 29px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 30px;
    padding-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer-text {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    margin-bottom: 0;
  }
}

.footer-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-link {
  text-decoration: underline;
}

.footer {
  width: 100%;
  background-color: #f7f7f7;
}

/*-Обмеження контенту секції-*/
.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*-Обмеження контенту секції tablet-версії-*/
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 25px;
  }
}

/*-Розміщення контенту секції mobile-версії-*/
.gallery {
  margin-bottom: -20px;
}

/*Стилі однієї карточки (Стилі для розробника,який робить 1 карточку)*/
/* .gallery__item {
  display: block;
  margin-bottom: 20px;
} */
/*-Розміщення контенту секції tablet-версії-*/
@media screen and (min-width: 768px) {
  /*Стилі однієї карточки (Стилі для розробника,який робить 1 карточку)*/
  /*  .gallery__item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(100% / 2 - 30px);
  } */
}

/*-Розміщення контенту секції desktop-версії-*/
/* @media screen and (min-width: 1024px) {
  .gallery__item {
    width: calc(100% / 3 - 30px);
  }
} */
.library-screen__text {
  margin: 0, auto;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #fa1157;
}

.library-screen__image {
  display: inline;
  width: 100%;
  margin: 0, auto;
}

.modal--design {
  background-color: rgba(247, 241, 241, 0.89);
  padding: 5px 0 5px 0;
  width: 320px;
}

.modal__close {
  display: block;
  text-align: center;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #545454;
  cursor: pointer;
  border: 1px solid #545454;
  border-radius: 10px;
}

.modal__close:hover {
  background-color: #ff6b01;
  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__team-head {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.modal-team-list {
  margin: 20px 0 35px 0;
  padding-left: 10px;
}

.modal-team-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-team-list__link {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.modal-team-list__link:hover {
  color: green;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 40px;
}

.card-image {
  width: 280px;
  height: 402px;
  border-radius: 5px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.card-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.card-description {
  color: #ff6b08;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.card-rating {
  background: #ff6b01;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  color: #ffffff;
  font-size: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-left: 10px;
  line-height: initial;
}

@media screen and (max-width: 767px) {
  .card-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .card-list {
    padding-bottom: 50px;
  }
  .card-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .card-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .card-image {
    width: 294px;
    height: 398px;
  }
}

@media screen and (min-width: 1024px) {
  .card-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
    flex-basis: calc(100% / 3 - 30px);
  }
  .card-image {
    width: 274px;
    height: 398px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-movie {
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  overflow: scroll;
  padding: 50px 30px;
  background-color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .modal-movie {
    width: 882px;
    height: 568px;
    overflow: visible;
  }
}

.modal-close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.modal-movie-template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-movie-info {
  margin-left: 30px;
}

.modal-movie-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
}

.modal-movie-table {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie-table-row {
  display: block;
}

.movie-table-row:not(:last-child) {
  margin-bottom: 10px;
}

.movie-table-data {
  display: inline-block;
}

.movie-table-data.key {
  width: 40%;
  color: #8c8c8c;
}

.movie-table-data.value .value__accent {
  padding: 1px 9px;
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

.movie-table-data.value .value__grey {
  padding: 1px 4px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.movie-overview-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-movie-overview {
  margin-bottom: 20px;
  max-width: 396px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal-button {
  padding: 14px 10px;
  min-width: 136px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:not(:last-child) {
  margin-right: 15px;
}

.modal-button.watched {
  color: #ffffff;
  background-color: #ff6b01;
  border: transparent;
}

.modal-button.queue {
  background-color: #ffffff;
  border: 1px solid black;
}
/*# sourceMappingURL=main.css.map */
