@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 240px;
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.visually-hidden {
  opacity: 0;
  visibility: 0;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.footer-conteiner {
  padding-top: 29px;
  padding-bottom: 29px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    padding-top: 30px;
    padding-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-text {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    margin-bottom: 0;
  }
}

/*-Обмеження контенту секції-*/
.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*-Обмеження контенту секції tablet-версії-*/
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 25px;
  }
}

/*-Розміщення контенту секції mobile-версії-*/
.gallery {
  margin-bottom: -20px;
}

/*Стилі однієї карточки (Стилі для розробника,який робить 1 карточку)*/
/* .gallery__item {
  display: block;
  margin-bottom: 20px;
} */
/*-Розміщення контенту секції tablet-версії-*/
@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  /*Стилі однієї карточки (Стилі для розробника,який робить 1 карточку)*/
  /*  .gallery__item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(100% / 2 - 30px);
  } */
}

/*-Розміщення контенту секції desktop-версії-*/
/* @media screen and (min-width: 1024px) {
  .gallery__item {
    width: calc(100% / 3 - 30px);
  }
} */
/*# sourceMappingURL=main.css.map */