<header class="header">
  <div class="container cont-header">
    <a class="logo-link" href="./index.html">
      <img src="./images/svg/film.svg" alt="logo" />
      <p class="logo-link__text">Filmoteka</p>
    </a>
    <nav class="nav">
      <ul class="nav-item">
        <li class="nav-item__list">
          <button class="nav-item__list-btn nav-item__list--activ" data-home>home</button>
        </li>
        <li class="nav-item__list">
          <button class="nav-item__list-btn" data-library>my library</button>
        </li>
      </ul>
    </nav>
    <div class="search-form">
      <input class="search" placeholder="Поиск фильмов" type="text" />
      <button class="btn-search" type="button">
        <img class="btn-img" src="./images/svg/search2.svg" alt="" />
      </button>
      <p class="header-error__text visually-hidden">Search result not successful. Enter the correct movie name and</p>
    </div>
    <div class="header-change__cont visually-hidden">
      <button class="header-change__cont-btn" data-watched>Watched</button>
      <button class="header-change__cont-btn header-change__cont-btn--activ" data-queue>queue</button>
    </div>
  </div>
</header>

<!-- ===============================================================-->
<!-- header-change__cont-btn--activ ---- активные кнопки (queue) и (Watched)
nav-item__list--activ-------------- активные кнопки (my library)и(home )
header-change --------------------- смена фона (header) -->
<!-- =============================================================== -->
