<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <!-- <svg class="modal-close-icon">
                <use href="./images/sprite.svg#close-black"></use>
            </svg> -->
    </button>
    <div class="modal-movie-template">
      <div class="modal-img-container">
        <img src="" alt="" />
      </div>

      <div class="modal-movie-info">
        <h2 class="modal-movie-title">A FISTFUL OF LEAD</h2>

        <table class="modal-movie-table">
          <tr class="movie-table-row">
            <td class="movie-table-data key">Vote / Votes</td>
            <td class="movie-table-data value">
              <span class="movie-table-data value value__accent">7.3</span>
              /
              <span class="movie-table-data value value__grey">1260</span>
            </td>
          </tr>

          <tr class="movie-table-row">
            <td class="movie-table-data key">Popularity</td>
            <td class="movie-table-data value">100.2</td>
          </tr>

          <tr class="movie-table-row">
            <td class="movie-table-data key">Original Title</td>
            <td class="movie-table-data value">A FISTFUL OF LEAD</td>
          </tr>

          <tr class="movie-table-row">
            <td class="movie-table-data key">Genre</td>
            <td class="movie-table-data value">Western</td>
          </tr>
        </table>

        <h3 class="movie-overview-title">ABOUT</h3>
        <p class="modal-movie-overview">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="modal-buttons">
          <button type="button">add to watched</button>
          <button type="button">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
