.scrollToTopBtn {
  background-color: $accent-color;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 75px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $secondary-accent-color;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.scroll-top {
  display: flex;
  width: 40px;
  height: 40px;
}
