.modal-button {
  padding-right: 12px;
  padding-left: 12px;
  width: 112px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.watched {
    color: $white-color;
    background-color: $accent-color;
    border: transparent;
  }

  &.queue {
    background-color: $white-color;
    border: 1px solid black;
  }

  @media screen and (min-width: $tablet-min) {
    padding-right: 13px;
    padding-left: 13px;
    min-width: 127px;
  }
  @media screen and (min-width: $desktop-min) {
    min-width: 136px;
  }
}
