.library-screen__text {
  margin: 0, auto;
  //border-bottom: 1px solid #e60f0f;
  flex: auto;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;

  text-align: center;
  color: #fa1157;
}

.library-screen__image {
  display: inline;
  width: 100%;
  margin: 0, auto;
}
