.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal-movie {
    opacity: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition: all $duration $timing-function;
}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);

  // width: fit-content;
  height: fit-content;
  max-width: 280px;
  max-height: 958px;
  overflow: scroll;
  padding-top: 48px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: $white-color;

  @media screen and (min-width: $tablet-min) {
    max-width: 618px;
    max-height: 562px;
    overflow: visible;

    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media screen and (min-width: $desktop-min) {
    max-width: 882px;
    max-height: 568px;

    padding-top: 50px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
