.modal-movie-template {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-img {
  width: 395px;
  height: 477px;
  border-radius: 5px;
}

.modal-movie-info {
  align-self: start;
  margin-left: 30px;
}

.modal-movie-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  text-transform: uppercase;
}

.modal-movie-table {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie-table-row {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.movie-table-data {
  display: inline-block;

  &.key {
    width: 40%;
    color: $light-grey-color-text;
  }

  & .value__accent {
    padding: 1px 9px;
    margin-right: 4px;
    background-color: $accent-color;
    color: $white-color;
    border-radius: 5px;
  }

  & .value__slash {
    color: $light-grey-color-text;
  }

  & .value__grey {
    padding: 1px 4px;
    margin-left: 3px;
    background-color: $grey-color-background;
    border-radius: 5px;
  }

  &.value__title {
    text-transform: uppercase;
  }
}

.movie-overview-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-movie-overview {
  margin-bottom: 20px;
  max-width: 396px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
