.modal-movie-template {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-min) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.modal-img-container {
  width: 240px;
  height: 356px;
  background-image: url(../images/no-poster1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-min) {
    width: 263px;
    height: 373px;
  }
  @media screen and (min-width: $desktop-min) {
    width: 395px;
    height: 477px;
  }
}

.modal-img {
  width: 240px;
  height: 356px;
  border-radius: 5px;

  @media screen and (min-width: $tablet-min) {
    width: 263px;
    height: 373px;
  }
  @media screen and (min-width: $desktop-min) {
    width: 395px;
    height: 477px;
  }
}

.modal-movie-info {
  width: 240px;
  align-self: start;

  @media screen and (min-width: $tablet-min) {
    margin-left: 30px;
    width: 264px;
  }
  @media screen and (min-width: $desktop-min) {
    width: 396px;
  }
}

.modal-movie-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.16;
  text-transform: uppercase;

  @media screen and (min-width: $desktop-min) {
    font-size: 30px;
  }
}

.modal-movie-table {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie-table-row {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.movie-table-data {
  display: inline-block;
  &:not(:last-child)::after {
    content: ',';
  }

  &.key {
    width: 40%;
    color: $light-grey-color-text;
  }

  & .value__accent {
    padding: 1px 9px;
    margin-right: 4px;
    background-color: $accent-color;
    color: $white-color;
    border-radius: 5px;
  }

  & .value__slash {
    color: $light-grey-color-text;
  }

  & .value__grey {
    padding: 1px 4px;
    margin-left: 3px;
    background-color: $grey-color-background;
    border-radius: 5px;
  }

  &.value__title {
    text-transform: uppercase;
  }
}

.movie-overview-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-movie-overview {
  margin-bottom: 20px;
  max-width: 396px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal-buttons {
  display: flex;
  align-items: center;
}
